* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    border: 0;
    padding: 0;
    background: url('/assets/img/bg-character-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure {
    margin: 0;
}

.main {
    margin-right: auto;
    max-width: 450px;
    display: flex;
    justify-content: flex-start;
}

@media screen and (min-width: 1536px) {
    .main { 
        height: 100vh;
    }
}

.container {
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    padding: 40px;
    overflow: auto;
}

.title {
    color: #fff;
    font-size: xx-large;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
}

.text {
    color: #fff;
    margin-bottom: 20px;
    font-size: 20px;
}

.text--margin-top {
    margin-top: 40px;
}

.figure {
    height: 200px;
    margin: 0 auto 20px;
    width: 200px;
}

.img {
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.btn {
    align-items: center;
    background-color: #fff;
    border-radius: 20px;
    border: 0;
    color: #000;
    display: inline-flex;
    height: 50px;
    justify-content: center;
    margin-left: auto;
    text-decoration: none;
    width: 140px;
    font-size: 20px;
    flex-shrink: 0;
}
