* {
    box-sizing: border-box;
}

html,
body {
    background-blend-mode: color;
    background-color: rgba(0, 0, 0, 0.3);
    background-image: url('/assets/img/bg-map.png');
    background-repeat: no-repeat;
    background-size: cover;
    border: 0;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure {
    margin: 0;
}

.main {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0 auto;
    max-width: 1536px;
    padding: 50px 30px;
}

.container-drag {
    border: 1px solid #fff;
    display: flex;
    height: 70px;
    justify-content: center;
    margin-bottom: 50px;
    max-width: 700px;
    width: 100%;
}
.container-drop {
    border: 1px solid #fff;
    max-width: 900px;
    min-height: 200px;
    width: 100%;
}

.img {
    display: block;
    height: auto;
    max-height: 200px;
    width: 100%;
}
