* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    border: 0;
    padding: 0;
    background: url('/assets/img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.main {
    margin-left: auto;
    max-width: 550px;
    display: flex;
    justify-content: flex-end;
}

@media screen and (min-width: 1536px) {
    .main { 
        height: 100vh;
    }
}

.container {
    background-color: rgba(0, 0, 0, 0.5);
    overflow: auto;
    padding: 40px;
    width: 100%;
}

.title {
    font-size: xx-large;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}

.subtitle {
    color: #fff;
    font-size: x-large;
    letter-spacing: 8px;
    margin-bottom: 20px;
    margin-top: 80px;
    text-align: center;
    text-transform: uppercase;
}

.text {
    color: #fff;
    margin-bottom: 20px;
    font-size: 20px;
}

.btn-content {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.btn {
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    background-color: gray;
}

.btn--disabled {
    filter: grayscale(100%);
    pointer-events: none;
}

.btn--purple {
    background-color: #6800ff;
}
.btn--green {
    background-color: #226503;
}

.btn-img {
    border-radius: 50%;
    display: block;
    height: 80px;
    width: 80px;
    margin-bottom: 10px;
}

.btn-text {
    text-align: center;
}

.btn:visited {
    color: #fff
}

.btn:last-child {
    margin-right: 0;
}
